@font-face {
    font-family: AmazonEmber_Rg;
    src: url("../files/fonts/ttf/AmazonEmber_Rg.ttf");
}

@font-face {
    font-family: AmazonEmber_Th;
    src: url("../files/fonts/ttf/AmazonEmber_Th.ttf");
}

@font-face {
    font-family: AmazonEmber_LtIt;
    src: url("../files/fonts/ttf/AmazonEmber_LtIt.ttf");
}