#root-offerings {
  margin: 5rem auto 0 auto;
  height: 80vh;
  box-sizing: border-box;
  color: $squid_ink;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  .offerings-card-container {
    margin: 0 auto;
    max-width: 92%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    // Firefox
    overflow: -moz-scrollbars-none;
    // IE +10
    -ms-overflow-style: none;
  }

  // Chrome, Safari, Opera
  .offerings-card-container::-webkit-scrollbar {
    width: 0 !important;
    background: transparent;
  }
}
