#root-offerings {
  margin: 0 auto;
  box-sizing: border-box;
  color: $squid_ink;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  .offerings-card-container {
    margin: 1rem auto;
    max-width: 92%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
