/* https://codepen.io/kevsimpson/pen/ZLWzXO */

*, *:before, *:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  outline: none;
}

.offerings-wrapper {
  position: absolute;
  margin: 0 auto;
}

.offerings-wrapper > h1 {
  text-align: center;
}

.card-grid {
  padding-left: 2rem;
  padding-right: 2rem;
}

.card-grid > .card {
  margin-bottom: 2rem;
}

.card > .card__link {
  display: block;
  background-color: #ffffff;
  border-radius: 10px;
  text-decoration: none;
  cursor: zoom-in;
}

.card__link > .card__image-wrap {
  position: relative;
}
.card__link > .card__image-wrap:before {
  display: block;
  padding-top: 56.25%;
  background-color: #dbdee3;
  border-radius: 10px 10px 0 0;
  content: "";
}

.card__image-wrap > .card__image {
  position: absolute;
  top: 0;
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.card__link > .card__short-desc {
  color: rgb(22, 30, 45);
  padding: 2rem;
}

.card__short-desc > .card__title {
  margin-top: 0;
  margin-bottom: 0.35em;
  font-size: 2rem;
  color: rgb(255, 153, 0);
}

/* 600px <= browser window */
@media only screen and (min-width: 600px) {
  .card-grid > .card {
    width: 50%;
    float: left;
    padding: 1rem;
  }
}
/* 800px <= browser window <= 1199px */
@media only screen and (min-width: 800px) and (max-width: 1199px) {
  .card-grid > .card {
    width: 33.3%;
  }
}
/* browser window <= 1200px */
@media only screen and (min-width: 1200px) {
  .card-grid > .card {
    width: 25%;
  }
}
