/* https://codepen.io/kevsimpson/pen/ZLWzXO */

*, *:before, *:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  outline: none;
}

.offerings-wrapper {
  position: absolute;
  margin: 0 auto;
}

.offerings-wrapper > h1 {
  text-align: center;
}

.card-grid {
  padding-left: 2rem;
  padding-right: 2rem;
}

.card {
  margin-bottom: 2rem;
}

.card__link {
  display: block;
  background-color: #ffffff;
  border-radius: 10px;
  text-decoration: none;
  cursor: zoom-in;
}

.card__image-wrap {
  position: relative;
}
.card__image-wrap:before {
  display: block;
  padding-top: 56.25%;
  background-color: #dbdee3;
  border-radius: 10px 10px 0 0;
  content: "";
}

.card__image {
  position: absolute;
  top: 0;
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.card__title {
  margin-top: 0;
  margin-bottom: 0.35em;
  font-size: 2rem;
  color: rgb(255, 153, 0);
}

.card__short-desc {
  color: rgb(22, 30, 45);
  padding: 2rem;
}

/* 600px <= browser window <= 900px */
@media only screen and (min-width: 600px) and (max-width: 799px) {
  .no-flexbox .card:nth-child(3n + 3) {
    clear: both;
  }
}
/* 600px <= browser window */
@media only screen and (min-width: 600px) {
  .card {
    width: 50%;
    float: left;
    padding: 1rem;
  }

  .no-flexbox .card:before,
  .no-flexbox .card:after {
    content: "";
    display: table;
  }
  .no-flexbox .card:after {
    clear: both;
  }

  .flexbox .card-grid {
    display: flex;
    flex-wrap: wrap;
  }
  .flexbox .card {
    display: flex;
  }
  .flexbox .card__link {
    display: flex;
    flex-direction: column;
  }
  .flexbox .card__short-desc {
    flex: 1 0 auto;
  }
}
/* 800px <= browser window <= 1199px */
@media only screen and (min-width: 800px) and (max-width: 1199px) {
  .card {
    width: 33.3%;
  }

  .no-flexbox .card:nth-child(4n + 4) {
    clear: both;
  }
}
/* browser window <= 1200px */
@media only screen and (min-width: 1200px) {
  .card {
    width: 25%;
  }

  .no-flexbox .card:nth-child(5n + 5) {
    clear: both;
  }
}
