$white: #ffffff;
$black: #000000;

// Primary
$smile_orange: rgb(255, 153, 0);
$white: rgb(255, 255, 255);
$squid_ink: rgb(35, 47, 62);
$dark_squid_ink: rgb(22, 30, 45);

// Secondary
$dark_red_R1: rgb(191, 8, 22);
$red_R2: rgb(255, 82, 82);
$light_red_R3: rgb(255, 167, 167);

$dark_red-orange_RO1: rgb(191, 45, 6);
$red-orange_RO2: rgb(255, 97, 56);
$light_red-orange_RO3: rgb(255, 197, 172);

$dark_orange_DO1: rgb(212, 91, 7);
$smile_DO2: rgb(255, 153, 0);
$light_orange_DO3: rgb(255, 204, 131);

$dark_yellow_Y1: rgb(277, 139, 0);
$yellow_Y2: rgb(253, 197, 0);
$light_yellow_Y3: rgb(254, 227, 133);

$dark_green_G1: rgb(6, 127, 104);
$green_G2: rgb(22, 191, 159);
$light_green_G3: rgb(118, 234, 204);

$dark_blue_B1: rgb(46, 39, 173);
$blue_B2: rgb(82, 127, 255);
$light_blue_B3: rgb(149, 176, 255);

$dark_purple_P1: rgb(77, 39, 170);
$purple_P2: rgb(161, 102, 255);
$light_purple_P3: rgb(197, 161, 255);

$dark_pink_PK1: rgb(176, 8, 77);
$pink_PK2: rgb(255, 79, 139);
$light_pink_PK3: rgb(247, 155, 197);
