/* example theme

// Heights
$header-height: 60px;
$sider-item-height:60px;
$app-bar-height-mobile:48px;
$app-panel-height: 100vh;

// Colors
$color-primary: #ebf205;
$color-secondary: #ff6666;

$color-primary-text: #969595;
$color-secondary-text: #ebf205;
$color-primary-text-inverse: #525252;

$color-primary-bg: rgba(9, 9, 9, 0.45);
$color-secondary-bg: #F6F6F6;
$color-accent-bg: #DFF1F1;
$color-warning-bg: #c3304c;

$color-border-light:#dcdcdc;
$color-primary-border: #dadada;
$color-primary-line: #dadada;
$color-shadow:#e6e6e6;

$color-high: #c3304c;
$color-high-bg: rgba(245, 144, 144, 0.44);

$color-mid: #f0aa54;
$color-mid-bg: rgba(245, 166, 35, 0.44);

$color-low: #48bcbc;
$color-low-bg: rgba(81, 101, 156, 0.44);

$color-disconnect-bg: rgba(218, 218, 218, 0.44);

$color-box-shadow: rgba(204, 204, 204, 0.5);
$color-bottom-box-shadow: rgba(0, 0, 0, 0.2);
$color-slick-arrow-disabled: #c7c7c7;
*/