/* #wrapper {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
}

#content {
    background-color: lightblue;
    grid-column-start: 1;
    grid-column-end: 5;
} */
