@font-face {
  font-family: 'AmazonEmber_Rg';
  src: url("./assets/fonts/AmazonEmber_Rg.ttf") format("truetype");
}

@font-face {
  font-family: 'AmazonEmber_Th';
  src: url("./assets/fonts/AmazonEmber_Th.ttf") format("truetype");
}

html, body {
  margin: 0 auto;
  height: 100%;
  width: 100%;
  /* image position/size repeat */
  background: url("./assets/img/login/BG-Pattern_Levels_Squid-Ink.png") center/cover no-repeat;
  font-family: "AmazonEmber_Rg";
  color: #FFFFFF;
  text-rendering: optimizeLegibility;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
